* {
    font-family: sans-serif;
}

#myform{
    box-shadow: 2px 3px 12px black;
    /*border:5px solid brown;*/
    display: flex;
    flex-direction: column;
    width: 600px;
   /* background-color: yellow;*/
    margin-left: 27%;
    margin-top: 2%;
    padding: 30px;
}

#signup{
    color:blue;
    text-align: center;
    text-decoration: underline orangered;
}

#myform label{
    margin-top:15px;
    margin-bottom: 6px;
}

#my form input{
    padding: 9px;
    border-radius: 10px;
    border:0.6px solid grey;
}

#gender{
    margin-top: 10px;
    margin-bottom: 10px;
}

#myform select{
    padding: 9px;
    border-radius: 10px;
    border: 0.6px solid grey;
    margin-bottom: 10px;
} 

#check{
    display: flex;
    flex-direction: row;
}

#myform textarea {
    margin-bottom: 20px;
}

#myform button {
    background-color: blue;
    color: white;
    border:none;
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
}

#myform button:hover {
    cursor: pointer;
    background-color: blue;
    color: black;
    border: 1px solid black;
}

#links{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;
}

#links a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

#links a:hover{
    color: red;
    text-decoration: underline;
}